{{#if success_request_msg}}
<div id="locker-request-success" class="row bg-success">
	<div class="col">
		<p class="font-weight-bold">{{success_request_msg}}</p>
	</div>
</div>
{{/if}}

{{#if fail_request_msg}}
<div id="locker-request-error" class="row">
	<div class="col">
		<p class="font-weight-bold">{{fail_request_msg}}</p>
	</div>
</div>
{{/if}}