{{#if success_locker_manage_msg}}
<div class="row bg-success">
	<div class="col">
		<p class="font-weight-bold">{{success_locker_manage_msg}}</p>
	</div>
</div>
{{/if}}

{{#if fail_locker_manage_msg}}
<div class="row bg-danger">
	<div class="col">
		<p class="font-weight-bold">{{fail_locker_manage_msg}}</p>
	</div>
</div>
{{/if}}


{{#if success_locker_msg}}
<div class="row bg-success">
	<div class="col">
		<p class="font-weight-bold">{{success_locker_msg}}</p>
	</div>
</div>
{{/if}}

{{#if fail_locker_msg}}
<div class="row bg-danger">
	<div class="col">
		<p class="font-weight-bold">{{fail_locker_msg}}</p>
	</div>
</div>
{{/if}}

