{{#if success_status_msg}}
<div id="locker-view-success" class="row bg-success">
	<div class="col">
		<p class="font-weight-bold">{{success_status_msg}}</p>
	</div>
</div>
{{/if}}

{{#if fail_status_msg}}
<div id="locker-view-error" class="row">
	<div class="col">
		<p class="font-weight-bold">{{fail_status_msg}}</p>
	</div>
</div>
{{/if}}