{{#if success_profile_msg}}
<div class="row bg-success">
	<div class="col">
		<p class="font-weight-bold">{{success_profile_msg}}</p>
	</div>
</div>
{{/if}}

{{#if fail_profile_msg}}
<div class="row bg-danger">
	<div class="col">
		<p class="font-weight-bold">{{fail_profile_msg}}</p>
	</div>
</div>
{{/if}}