{{#if success_locker_search_msg}}
<div id="search-success" class="row bg-success">
	<div class="col">
		<p class="font-weight-bold">{{success_locker_search_msg}}</p>
	</div>
</div>
{{/if}}

{{#if fail_locker_search_msg}}
<div id="search-error" class="row">
	<div class="col">
		<p class="font-weight-bold">{{fail_locker_search_msg}}</p>
	</div>
</div>
{{/if}}