<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript">
        </script>
		<script>
		$(document).ready(function(){
			var hiddenId = $("#login-user-id").val()
			
			if(hiddenId == "admin"){
				$(".main-menu").hide()
				$(".admin-main-menu").show()
			}
			else{
				$(".main-menu").show()
				$(".admin-main-menu").hide()
			}
		})
		</script>
	</head>

	<body>
		{{> menu}}
		
		<div class="body">
			{{{ body }}}
		</div>
		
	</body>
</html>