<div class="about">
	<div class="container" id="about-section">
		<div class="row">
			<div class="col">
				<div class="card" style="height: 17rem;">
					<div class="card-header">
						Basic Info
					</div>
					<div class="card-body">
						<table class="table">
							<tr>
								<th scope="row">Group Members</th>
								<td>Jessamyn Kristi Lapan, Ysabelle Chloe Chen</td>
							</tr>
							<tr>
								<th scope="row">Section</th>
								<td>S14</td>
							</tr>
							<tr>
								<th scope="row">Group Name</th>
								<td>MP9</td>
							</tr>
							<tr>
								<th scope="row">Github Link</th>
								<td><a href="https://github.com/unisse-courses/s14-mp9">Link</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row" id="tools">
			<div class="col">
				<div class="card">
					<div class="card-header">
						Other Tools
					</div>
					<div class="card-body scroll">
						<table class="table">
							<thead>
								<tr>
									<th scope='col'>Tool</th>
									<th scope='col'>Description</th>
									<th scope='col'>Link</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>MongoDB Atlas</td>
									<td>Online database tool used for the project.</td>
									<td><a href="https://cloud.mongodb.com/" target="_blank">Link</a></td>
								</tr>
								<tr>
									<td>Robo3T</td>
									<td>Local database tool used for the project</td>
									<td><a href="https://robomongo.org/download"  target="_blank">Download Link</a></td>
								</tr>
								<tr>
									<td>Heroku</td>
									<td>Deployment tool used for the entire project</td>
									<td><a href="https://github.com/unisse-courses/s14-mp9"  target="_blank">Link</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="card">
					<div class="card-header">
						NPM Packages Used
					</div>
					<div class="card-body scroll">
						<ul class="list-group">
							<li class="list-group-item">express</li>
							<li class="list-group-item">express-session</li>
							<li class="list-group-item">express-validator</li>
							<li class="list-group-item">express-handlebars</li>
							<li class="list-group-item">handlebars</li>
							<li class="list-group-item">http</li>
							<li class="list-group-item">url</li>
							<li class="list-group-item">body-parser</li>
							<li class="list-group-item">cookie-parser</li>
							<li class="list-group-item">mongoose</li>
							<li class="list-group-item">mongodb</li>
							<li class="list-group-item">path</li>
							<li class="list-group-item">connect-flash</li>
							<li class="list-group-item">connect-mongo</li>
						</ul>
					</div>
				</div>
			</div>
			
			
		</div>
		
	</div>
</div>