<div class="top">
	<div class="admin-options">
		<div id="#admin-lockers-option">
			<img src="screenie1.png">
			<p>Did La Salle build new lockers? A new term started and you need to specify the start and end dates of locker reservation? Click below to manage locker options.</p>
			<form action="admin_manage_lockers.html">
				<input type="submit" value="Start managing lockers">
			</form>
		</div>
		<div id="#admin-requests-option">
			<img src="screenie2.png">
			<p>Need to approve reserve or abandonment requests? Click below to manage locker requests here.</p>
			<form action="admin_manage_requests.html">
				<input type="submit" value="Start managing requests">
			</form>
		</div>
	</div>
</div>