
		
<div class="manage-lockers-box">
	<nav class="nav flex-column bg-success">
		<h1>Locker Options</h1>
		<div id="nav-link-sections">
			<a class="nav-link active" id="ll-options" href="#">Location and Locker Options <span></span></a>
			<a class="nav-link" id="term-dates" href="#">Term Dates<span></span></a>
		</div>
	</nav>

	<div class="locker-manager">
		<div class="card" style="width: 75rem;" id="term-date-option">
			<h3 class="card-header text-center">Term Dates</h3>
			<div class="card-body">
				<h5 class="card-title text-center">Current Term Date Range</h5>
				<p id="date-range" class="card-subtitle mb-3 text-center"></p>
				<form action="set-dates" method="post" id="term-option">
					<div class="form-group">
						<label for="term-start">Start</label>
						<input id="term-start" class="form-control" type="date" value="" name="termStart">
					</div>
					
					<div class="form-group">
						<label for="term-end"><b>End </b></label>
						<input id="term-end" class="form-control" type="date" value="" name="termEnd">
					</div>
					<div id="set-date-button" class="form-group">
						<input id="set-dates" class="btn btn-primary w-100 btn-lg" type="submit" value="Set Dates">
					</div>
				</form>
			</div>
			
		</div>

		<div class="ll-section">
			{{> locker_messages}}
			<div class="card" id="locations-section">
				<h4 class="card-header">Location</h4>
				<div class="card-body">
					<select class="btn btn-secondary dropdown-toggle btn-lg" role="button" id="location-select" value="manage">
					</select>
					<form action="delete-location" method="post">
						<input type="hidden" name="selectedManageLocation" value="">
						<input type="submit" class="btn btn-danger btn-lg" id="delete-location" name="edit" value="Delete Location">
						<input type="button"  class="btn btn-primary btn-lg" id="add-location" name="edit" data-toggle="modal" data-target="#add-new-location" value="Add New Location">
					</form>
				</div>
			</div>


			<div id="locker-table-section">
				<div class="card">
					<h4 class="card-header">Filters</h4>
					<div class="card-body">
						<table class="table" id="legend">
							<tr>
								<th>Color</th> 
								<th>Status</th> 
								<th>Filter</th>
							</tr>
							<tr>
								<td value="green"></td> 
								<td>Available</td> 
								<td>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" id="available-cell" class="custom-control-input" name="status" value="available"> <label for="available-cell" class="custom-control-label"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td value="blue"></td> 
								<td>Reserved</td> 
								<td>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" id="reserved-cell" class="custom-control-input" name="status" value="reserved"> <label for="reserved-cell" class="custom-control-label"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td value="red"></td> 
								<td>Owned</td> 
								<td>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" id="own-cell" class="custom-control-input" name="status" value="owned"> <label for="own-cell" class="custom-control-label"></label>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>


				<div class="card" style="height: 50rem; width: 45rem;" id="table-section">
					<h4 class="card-header">Lockers</h4>
					<div class="card-body">
						<p>To edit a locker, just simply click on it.</p>

						<form id="edit-options">
							<input type="button" id="add-locker-button" class="btn btn-primary" name="edit" data-toggle="modal" data-target="#add-new-locker" value="Add Locker">
						</form>

						<span id="edit-reminder"></span><b id='edit-reminder-code'></b>

						<table id="lockers-table" class="manage-table">
						</table>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newLocation" aria="true" id="add-new-location">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add New Location</h5>
					<button class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="add-location" method="post">
						<div class="form-group col-md-6">
							<input name="newLocationName" type="text" class="form-control" id="new-location-name">
						</div>
						<div class="modal-footer">
							<input type="submit" id="confirm-location-add" class="btn btn-primary" value="Add Location">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newLocker" aria="true" id="add-new-locker">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add New Locker</h5>
					<button class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="add-locker" method="post">
						<div class="form-group col-md-8">
							<h5 id="add-locker-manage-location" class="modal-title">Location: </h5>
							<input id="location-name-selected" name="selectedLocation" type="hidden">
							<input id="location-name-lockers-selected" name="selectedLocationLockersNo" type="hidden">
							
							<label for="#new-location-name">Locker Code</label>
							<input name="lockCode" type="text" class="form-control" id="new-location-name">
						</div>
						<div class="modal-footer">
							<input type="submit" id="confirm-location-add" class="btn btn-primary" value="Add Locker">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editLocker" aria="true" id="manage-edit-selected-locker">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Locker</h5>
					<button class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="edit-locker" method="post">
						<div class="form-group col-md-8">
							<h5 id="current-edit-location-manage" class="modal-title">Location: </h5>
							<label>Locker Code:</label> <span id="locker-code-current"></span>

							<input id="edit-location-name-selected" name="selectedLocation" type="hidden">
							<input id="edit-locker-no-selected" name="selectedLocationLockersNo" type="hidden">
							<input name="lockCode" type="text" class="form-control" id="new-location-name">
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-primary" name="editType" value="Delete Locker">
							<input type="submit" class="btn btn-primary" name="editType" value="Edit Locker">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>