<div class="top">
	<div id="quick-menu-box" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div id="image-home-user">
					<!---<img class="d-block w-100 h-75" src="photo/IMG_8368.jpg">--->
				</div>

				<div class="carousel-caption d-none d-md-block">
					<h1>Reserve now!</h1>
					<p>Don't want the burden to bring certain things to campus? Choose a locker to reserve today!</p>
					<form action="view-lockers" method="get">
						<input type="submit" class="btn btn-light btn-lg" value="Start reserving">
					</form>
				</div>
			</div>
		</div>

	</div>
</div>