<div class="search">
	<form method="post" action="search">
		{{> search_messages}}
		<div class="form-group row">
			<div class="dropdown show"> 
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="searchAdvanced" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				</a>
				<div class="dropdown-menu" aria-labelledby="searchAdvanced">
					<input type="text" class="form-control" name="searchResultLocker" placeholder="Search locker">
					<input type="text" class="form-control" name="searchResultLocation" placeholder="Search location">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>
			<div class="col-sm-80">
				<input type="text" class="form-control" name="searchResult" placeholder="Search locker or location">
			</div>
			<div class="col-lg-append">
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-search"></i>
				</button>
			</div>
			<div id="radio-criteria">
				<div class="custom-control custom-radio">
					<input type="radio" id="radio-search-lc" class="custom-control-input" name="criteria" value="location"><label for="radio-search-lc" class="custom-control-label">Location only</label>
				</div>
				<div class="custom-control custom-radio">
					<input type="radio" id="radio-search-lk" class="custom-control-input" name="criteria" value="lockerNo"> <label for="radio-search-lk" class="custom-control-label">Locker Number only</label>
				</div>
			</div>
		</div>
	</form>
</div>

<div class="locker-box">
	<div class="card" id="term-info" style="width: 75rem;">
		<div class="card-body">
			<label><b>Current term dates: </b></label><span id="date-range"></span>
		</div>
	</div>

	<div class="user-lockers-section">
		<div class="locker-view-options">
			<div class="card" id="user-legend-section" style="width: 20rem;">
				<h4 class="card-header">Filters</h4>
				<div class="card-body">
					<table class="table" id="legend">
						<tr>
							<th>Color</th> 
							<th>Status</th> 
							<th>Filter</th>
						</tr>
						<tr>
							<td value="green"></td> 
							<td>Available</td> 
							<td>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="available-cell" class="custom-control-input" name="status" value="available"> <label for="available-cell" class="custom-control-label"></label>
								</div>
							</td>
						</tr>
						<tr>
							<td value="blue"></td> 
							<td>Reserved</td>
							<td>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="reserved-cell" class="custom-control-input" name="status" value="reserved"> <label for="reserved-cell" class="custom-control-label"></label>
								</div>
							</td>
						</tr>
						<tr>
							<td value="red"></td> 
							<td>Owned</td> 
							<td>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" id="own-cell" class="custom-control-input" name="status" value="owned"> <label for="own-cell" class="custom-control-label"></label>
								</div>
							</td>
						</tr>
					</table>
				</div>	
			</div>


			<div class="card" id="location-select-section" style="height: 29.9rem; width: 20rem;">
				<h4 class="card-header">Location</h4>
				<div class="card-body">
					<table class="table" id="location-list">
						<tr>
							<th>Location</th>
							<th>Total Lockers</th>
							<th>Available</th>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div id="user-locker-section" class="card" style="height: 50rem; width: 50rem;">
			<h4 class="card-header">Lockers</h4>
			<div class="card-body">
				<div class="lockers">
					{{> locker_status_messages}}
					<label class="card-title"><b>Lockers Location </b></label><select id="location-select" class="btn btn-secondary dropdown-toggle" role="button" name="Select a location">
						{{#each locations}}
							<option name="currentSelectedLocation" value="{{this.locationName}}">{{this.locationName}}
							</option>
						{{/each}}
					</select>
					<table id="lockers-table">

					</table>
				</div>
			</div>	
		</div>

	</div>

	<div class="modal fade" id="validity-confirm" tabindex="-1" role="dialog" aria-labelledby="validConfirmLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
					Reserve available locker</h5>
					<button class='close' data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Do you want to reserve this locker?
				</div>
				<div class="modal-footer">
					<form>
						<input type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#confirm-reminder" name="reply" value="Yes"> 
						<input type="button" class="btn btn-secondary" data-dismiss="modal" name="reply" value="No"> 
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="confirm-reminder" tabindex="-1" role="dialog" aria-labelledby="validConfirmLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
					Reserve available locker</h5>
					<button class='close' data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Now please go to the Accounting Office at St. La Salle Hall and then pay P200 for your locker. Your locker code is revealed below.
					<b id="lock-code-reveal"></b>
				</div>
				<div class="modal-footer">
					<form method="post" action="confirm-reservation">
						<input id="id-user-select" name="userIdSelector" value="{{idNo}}" type="hidden">

						<input id="location-name-selected" name="selectedLocation" type="hidden">

						<input id="locker-selected" name="selectedLocker" type="hidden">

						<input type="submit" class="btn btn-primary" name="reply" value="Confirm Reservation">
						<input type="button" class="btn btn-secondary" name="reply" data-dismiss="modal" data-toggle="modal" data-target="#cancel-reminder" value="Cancel Reservation">
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="cancel-reminder" tabindex="-1" role="dialog" aria-labelledby="validConfirmLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
					Reserve available locker</h5>
					<button class='close' data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					You have cancelled your reservation. You are now free to choose another locker to reserve. Close the window and press on another locker.
					<b id="lock-code-reveal"></b>
				</div>
				<div class="modal-footer">
					<form action="cancel-reservation" method="get" >
						<input type="submit" class="btn btn-primary" value="Reserve a locker">
					</form>
				</div>
			</div>
		</div>
	</div>

</div>