<html>
    <head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript">
        </script>
		
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
        <link rel="stylesheet" type="text/css" href="css/mp1.css">
        
        <script src="main.js"></script>
        
        <script>
            $(document).ready(function(){
                var locationList = $(".reserve-selector #select-location-list");
                var locationSelect = $(".location-select");
                var lockerReminder = $(".reminder-modal")
                var reserveButton = $("#reserve-button");
                var cancelButton = $("#cancel-reservation-button");
                var lockersList = $(".reserve-selector #select-locker-list");
                
                var isReserved = false;
                
                var currentReserved;
                
                lockerReminder.hide();
                
                $("#cancel-reminder").hide();

                for(let i = 0; i < locations.length; i++){
                    var o = $("<option></option>")
                    o.attr("value", locations[i].locationName)
                    o.text(locations[i].locationName)
                    
                    locationList.append(o);
                    
                    
                }
                
                for(let i = 0; i < lockers.length; i++){
                    if(lockers[i].location == locationList.val()){
                        if(lockers[i].owned == false && lockers[i].reserved == false){
                            var o = $("<option></option>")
                            o.attr("value", lockers[i].lockerNo)
                            o.text(lockers[i].lockerNo)

                            lockersList.append(o);
                        }
                    }

                }
                
                locationList.change(function(){
                    var selectedLocation = $(this).val();
                    var lockersList = $("#select-locker-list");
                    
                    lockersList.empty();
                    
                    console.log(selectedLocation);
                    
                    for(let i = 0; i < lockers.length; i++){
                        if(lockers[i].location == selectedLocation){
                            if(lockers[i].owned == false && lockers[i].reserved == false){
                                var o = $("<option></option>")
                                o.attr("value", lockers[i].lockerNo)
                                o.text(lockers[i].lockerNo)

                                lockersList.append(o);
                            }
                        }
                    }
                    
                })
                
                reserveButton.click(function(){
                    var lockerNumber, lockerLocation, lockerCode, userID;
                    var p = $("#reminder")
                    var lockerCodeRem;
                    
                    lockerCodeRem = $("#lock-code-reveal")
                    
                    lockerNumber = $("#select-locker-list").val();
                    lockerLocation = $("#select-location-list").val();
                    
                    if(isReserved == false){
                        $("#cancel-reminder").hide();
                        
                        for(let i = 0; i < lockers.length; i++){
                            if(lockers[i].location == lockerLocation){
                                if(lockers[i].lockerNo == lockerNumber){
                                    p.replaceWith("Now please go to the Accounting Office at St. La Salle Hall and then pay P200 for your locker. Your locker code is revealed below.")
                                    lockerCodeRem.empty();
                                    lockerCodeRem.text(lockers[i].lockCode);
                                    
                                    lockers[i].reserved = true;

                                    var newReservation = new ReservedLocker(lockerNumber, lockerLocation, lockers[i].lockCode, "11739937")
                                    isReserved = true;
                                    
                                    currentReserved = newReservation;
                                    
                                    console.log(currentReserved)
                                }
                            }
                        }

                        reservedLockers.push(newReservation);
						
						lockerReminder.css({
							"display": "block",
							"position": "fixed",
							"z-index": '1',
							"left": '0',
							'top': "0",
							"width": '100%',
							"height": '100%',
							'overflow': "auto",
							"background-color": "rgb(0, 0, 0)",
							"background-color": "rgb(0, 0, 0, 0.4)"
						})
                        lockerReminder.show();
                    }
                    else{
                        p.replaceWith("<p>You already have reserved a locker. Cancel your reservation first before reserving another locker.<p>")
                    }
                    
                })
                
                cancelButton.click(function(){
                    var lockerNumber, lockerLocation, lockerCode, userID;
                    
                    var lockerCodeRem;
                    
					lockerReminder.css({
						"display": "none"
					})
					
                    lockerCodeRem = $("#lock-code-reveal")
                    
                    lockerNumber = $("#select-locker-list").val();
                    lockerLocation = $("#select-location-list").val();
                    
                    if(isReserved == true){
                        $("#cancel-reminder").show();
                        
                        for(let i = 0; i < reservedLockers.length; i++){
                            if(currentReserved.lockerNo == reservedLockers[i].lockerNo){
                                if(currentReserved.location == reservedLockers[i].location){
                                    reservedLockers.splice(i, 1)
                                    
                                    console.log(reservedLockers)

                                    for(let j = 0; j < lockers.length; j++){
                                        if(currentReserved.lockerNo == lockers[j].lockerNo){
                                            if(currentReserved.location == lockers[j].location){
                                                lockers[j].reserved = false;
                                                isReserved = false;
                                                
                                                lockerReminder.hide();
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    
                })
                
            })
            
            
        </script>
    </head>
    
    <body>
        <div class="main-menu">
			<div class="logo">
					<img src="Logo.PNG">
				</div>
            <a href="home.html">Home</a>
            <div class="locker-menu">
                <button class="locker-menu-button">Locker</button>
                <div id="locker-menu-contents">
                    <a href="reserve_locker_form.html">Reserve locker</a>
                    <a href="current_locker.html">View current locker</a>
                    <a href="locker_view.html">View lockers</a>
                </div>
            </div>

            <span id="space"></span>
            <div class="user-menu">
                <button class="user-menu-button">User</button>
                <div id="user-menu-contents">
                    <a href="profile.html">Profile</a>
                    <a href="main.html">Log Out</a>
                </div>
            </div>
        </div>
        
        <div class="reserve">
			<div class="reserve-selector">
				<p id="cancel-reminder">You have cancelled your reservation. You are now free to choose another locker to reserve.</p>
				<label><b>Select a locker to reserve:</b></label>
				<select id="select-location-list" name="Select a location">
				</select>

				<select id="select-locker-list" name="Select a locker">
				</select>
				
				<form>
					<input id="reserve-button" type="button" value="Reserve Locker">
				</form>
			</div>
        </div>
        
		<div class="reminder-modal">
			<div class="reminder">
                <p id="reminder">Now please go to the Accounting Office at St. La Salle Hall and then pay P200 for your locker. Your locker code is revealed below.</p>
                <br>
                Locker code:
                <b id="lock-code-reveal"></b>
                <form>
                    <input type="button" id="cancel-reservation-button" value="Cancel Reservation">
                </form>
            </div>
		</div>
		
    </body>
</html>