<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
		<title>Search Results</title>
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript">
        </script>
		
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css>
		
        <link rel="stylesheet" type="text/css" href="css/mp1.css">
        
		<script src="js/script.js"></script>
        <script src="main.js"></script>
        
        <script>
            $(document).ready(function(){
                var table = $("#results-search");
                
                $("input[name='criteria']").click(function(){
                    var checkedStatus;
                    $("input[name='criteria']").not(this).prop('checked', false);
                    //
                    if($(this).is(":checked")){
                        checkedStatus = $(this).val();
                        console.log(checkedStatus)
                    }
                })
            })
        </script>
    </head>
    
    <body>
        <div class="top">
            <h1>Locker Reservation</h1>
            
            <div class="main-menu">
				<div class="logo">
					<img src="Logo.PNG">
				</div>
                <a href="home.html">Home</a>
                <div class="locker-menu">
                    <button class="locker-menu-button">Locker</button>
                    <div id="locker-menu-contents">
                        <a href="reserve_locker_form.html">Reserve locker</a>
                        <a href="profile.html">View current locker</a>
                        <a href="locker_view.html">View lockers</a>
                    </div>
                </div>

                <span id="space"></span>
                <div class="user-menu">
                    <button class="user-menu-button">User</button>
                    <div id="user-menu-contents">
                        <a href="profile.html">Profile</a>
                        <a href="main.html">Log Out</a>
                    </div>
                </div>
            </div>
            
            <div class="search">
				<form method="post" action="search">
					<div class="form-row">
						<div class="input-control">
							<input type="text" class="form-control" name="searchResult" placeholder="Search locker or location">
							<div class="input-control-append">
								<button type="submit" class="btn btn-primary">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
						<div id="radio-criteria">
							<div class="custom-control custom-radio">
								<input type="radio" id="radio-search-lc" class="custom-control-input" name="criteria" value="location"><label for="radio-search-lc" class="custom-control-label">Location only</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="radio-search-lk" class="custom-control-input" name="criteria" value="lockerNo"> <label for="radio-search-lk" class="custom-control-label">Locker Number only</label>
							</div>
						</div>

					</div>
				</form>
			</div>
            
			<div class="results-box">
				<div id="results-info">
					<b>Search results for</b> <span>{{result}}</span>
				</div>
				<table id="results-search">
					<tr>
						<th>Locker Number</th>
						<th>Location</th>
						<th>Status</th>
					</tr>
					{{#each lockers}}
						<tr>
							<td>{{this.lockerNo}}</td>
							<td>{{this.location}}</td>
							<td>Status</td>
						</tr>
					{{/each}}
				</table>
			</div>
        </div>
        
    </body>
</html>