<div class="top">
	<div class="search">
		<form method="post" action="search">
			<div class="form-row">
				<div class="input-control">
					<input type="text" class="form-control" name="searchResult" placeholder="Search locker or location">
					<div class="input-control-append">
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
				<div id="radio-criteria">
					<div class="custom-control custom-radio">
						<input type="radio" id="radio-search-lc" class="custom-control-input" name="criteria" value="location"><label for="radio-search-lc" class="custom-control-label">Location only</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" id="radio-search-lk" class="custom-control-input" name="criteria" value="lockerNo"> <label for="radio-search-lk" class="custom-control-label">Locker Number only</label>
					</div>
				</div>

			</div>
		</form>
	</div>

	<div id="results-box" class="card" style="width: 110rem">
		<div class="card-header" id="results-info">
			<b>Search results for</b> <span>{{result}}</span>
		</div>
		<table class="table-striped table-bordered" id="results-search">
			<thead>
				<tr>
					<th style="width: 25%">Locker Number</th>
					<th>Location</th>
					<th>Status</th>
				</tr>
			</thead>
			
			{{#each lockers}}
				<tr>
					<td id="search-locker-no">{{this.lockerNo}}</td>
					<td id="search-location">{{this.location}}</td>
					<td id="search-status">Available</td>
				</tr>
			{{/each}}
		</table>
	</div>
</div>