.logo{
	display: flex;
	flex-flow: row nowrap;
	align-self: center;
	width: 4%;
	height: 70%;
	margin-left: 18%;
	margin-right: 21%
}

.logo img{
	min-width: 100%;
	min-height: inherit
}

.main-menu{
	
    height: 80px;
	width: 100%;
    background-color: #00521c;
    color: #E6FBDA;
    font-family: sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

.main-menu a{
	margin-top: 10px;
}

.user-menu{
	margin-left: 30%;
}

.locker-menu, .user-menu{
	margin-top: 10px;
    float: left;
    overflow: hidden;
}

.main-menu a:hover, .locker-menu:hover .locker-menu-button, .user-menu:hover .user-menu-button{
    background-color: #5E829E;
}

#locker-menu-contents, #user-menu-contents{
    background-color: #C9E9C6;
    position: absolute;
    display: none;
    z-index: 1;
}

#locker-menu-contents{
	min-width: 350px;
}

#user-menu-contents{
	min-width: 150px;
}

.main-menu a, .locker-menu, .user-menu{
    
}

#locker-menu-contents a, #user-menu-contents a{
    float: none;
    color: black;
    padding: 12px;
    display: block;
    text-align: left;
}

#locker-menu-contents a:hover, #user-menu-contents a:hover{
    background-color: #74BB6D;
}

.locker-menu:hover #locker-menu-contents, .user-menu:hover #user-menu-contents{
    display: block;
}

.main-menu button{
    background-color: inherit;
    color:inherit;
    border: none;
    outline: none;
    padding: 20px;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

.main-menu a{
    color:inherit;
    text-decoration: none;
    padding: 20px;
}


/*all*/
.user-welcome{
    background-color: #00521c;
    font-family: sans-serif;
}

body{
    background-color: #cbdad0;
    font-family: sans-serif;
}


/*main.html*/
.user-box{
	margin-left: 500px;
    background-color: #DDDCDE;
    padding: 20px;
	width: 800px;
}

.user-welcome{
	background-image: url("../photo/Background2.jpg")
}

.login, .register{
	display:flex;
	flex-direction: column;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	width: 0;
	height: 30em;
}

.user-box .login{
	height: 750px;
}

.user-box .register{
	height: 800px;
}

.login h1{
	text-align: center;
	padding-bottom: 20px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	width: 320px;
	transform: translate(-47%, -50%)
}

.register h1{
	text-align: center;
	padding-bottom: 10px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	width: 320px;
	transform: translate(-47%, -50%)
}


#login-form input, #register-form input{
	margin: 10px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	height: 60px;
	width: 320px;
	transform: translate(-50%, -50%)
}

#login-form input[type=text], input[type=password], #register-form input[type=text]{
	background-color: #88ae95;
	color: #2d4635;
	font-size: 18px;
	font-weight: 300;
	outline: none;
	border: 0;
}

#login-form input[type=submit], #register-form input[type=submit]{
	margin-top: 40px;
	background-color: #437eb8;
	outline: none;
	border: 0;
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	color: #DDDCDE;
}

.login p{
	margin-bottom: 50px;
}

#start-register{
	background-color: inherit;
	color: #80125a;
	outline: none;
	border: 0;
	width: 300px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 550;
	margin: 10px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	height: 60px;
	width: 320px;
	transform: translate(-50%, -50%)
}

#start-register:hover{
	color: #e29bc9;
}

hr #divide{
    border-top: 3px solid;
}

.user-box .login, .user-box .register{
    flex-direction: column;
}

/*home.html*/
.admin-options div{
	margin-top: 50px;
	margin-right: 300px;
	margin-left: 300px;
	padding: 30px 30px 5px 30px;
	width: 850px;
	display: inline;
	float: left;
}

#image-home-user{
	background-image: linear-gradient(to bottom, rgba(25, 41, 29, 0.80), rgba(13, 112, 40, 0.73)), url('../photo/IMG_8368.jpg');
	height: 100%;
}

#quick-menu-box{
	font-size: 34px;
}

#quick-menu-box .carousel-caption{
	margin-bottom: 300px;
}

.carousel-caption form input{
	height: 80px;
	width: 300px;
	font-size: 24px;
}

.quick-menu-box #reserve-reminder{
	margin-left: 550px;
	margin-right: 500px;
	margin-top: 180px;
	color: #E6FBDA;
	text-align: center;
}

.quick-menu-box #reserve-reminder h1{
	margin-left: 30px;
	margin-right: 100px;
}

.admin-options div input[type=submit]{
	margin-top: 45px;
}

.quick-menu-box input[type=submit]{
	width: 400px;
	height: 100px;
	margin-left: 630px;
	margin-right: 500px;
	margin-top: 100px;
}

.quick-menu-box input[type=submit]:hover{
	background-color: #661048
}


.quick-menu-box #reserve-reminder h1{
	font-size: 40px
}

.quick-menu-box #reserve-reminder p, .admin-options div p{
	width: 550px;
	word-wrap: break-word;
	font-size: 28px
}

.quick-menu-box img, .admin-options #admin-requests-option img{
	max-width: 30%;
}

input[type=submit], input[type=button]{
	outline: none;
	border: 0;
}

.quick-menu-box input[type=submit], .admin-options div input[type=submit]{
	
	outline: none;
	border: 0;
	background-color: #80125a;
	color: #eef2f5;
	text-transform: uppercase;
}



/*profile.html*/
.page-box{
	background-color: #cbdad0;
	height: 100%;
	margin-left: 130px;
}

.profile-box, .edit-profile-box{
	padding: 80px;
	display: flex;
	flex-direction: row;
}

.profile-box #personal-info{
	font-size: 18px;
	width: 1000px;
}

#image-locker{
	display: flex;
	flex-direction: column
}

#profile-locker-address h4{
	font-size: 80px;
}

#profile-locker-address #profile-locker-location{
	font-size: 30px;
}

#profile-locker-status{
	text-transform: uppercase
}

#locker-lock-code{
	margin-top: 30px;
	font-size: 18px;
}

.profile-current-locker-info form[method=post]{
	margin-top: 20px;
}

.profile-current-locker-info form[method=post] input[type=submit], .reminder-current-locker-info form[method=get] input[type=submit], .edit-profile-info-box form[method=post] input[type=submit]{
	height: 70px;
	width: 100%;
	font-size: 24px
}

.profile-box #locker-info, .edit-profile-box #locker-info{
	background-color: #f3f6f4;
}

#locker-info{
	background-color: #e6f3ea;
}

#locker-info #locker h5{
	text-align: center
}

#locker-lock-code{
	text-align: center
}

.profile header h1{
	text-transform: uppercase;
}

.info-section #name-edit{
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
}

.info-section #name-edit button{
	margin-left: 5px;
}

.info-section{
	background-color: #f3f6f4;
	display: flex;
	flex-direction: column;
	padding: 50px;
	margin-left: 50px;
}

.info-section button img{
	max-width: 50%;
	max-height: 110%;
}


#personal-info, #profile-locker{
	display: grid;
	grid-gap: 10px;
}

#personal-info{
	grid-template-columns: 250px 250px;
}


#personal-info label, #profile-locker label{
	display: inline-block;
	width: 150px;
	margin-right: 100px;
	text-align: right;
}


/*edit_profile.html*/
.edit-profile-box #personal-info, #edit-personal-info{
	margin-left: 100px
}

#edit-personal-info{
	margin-top: 20px
}

.edit-profile-info-box{
	width: 1500px;
	display: flex;
	flex-direction: column;
}

.edit-profile-info-box h1{
	margin-left: 100px
}

#personal-info form input[type=text]{
	height: 30px;
	width: 400px;
}

#submit-edit-profile{
	margin-top: 30px;
	margin-left: 0.2px;
	height: 60px;
}

/*current_locker.html*/
#no-locker, #current-locker-info{
	margin-top: 100px;
}

#no-locker{
	margin-left: 500px;
}

#no-locker .card-header, #current-locker-info .card-header, #current-locker-info #locker-address .card-body .card-subtitle{
	font-size: 30px;
}

#no-locker .card-body, #current-locker-info #current-locker-details #body .row .col-sm label, #current-locker-info #current-locker-details #body .row .col-8{
	font-size: 24px;
}

#no-locker form[method=get]{
	margin-top: 70px;
}

#current-locker-info{
	display: flex;
	flex-direction: row;
	margin-left: 380px;
}

#locker-address{
	margin-right: 30px
}

#no-locker .card-body, #locker-address .card-body{
	margin-top: 30px;
}

#current-locker-info #current-locker-details #body{
	margin-top: 50px;
}

#current-locker-info #locker-address .card-body .card-title{
	font-size: 80px;
}

#current-locker-info #current-locker-details #body .row{
	margin-bottom: 40px;
}

#current-locker-info #current-locker-details #body .row .col-sm label{
	float: right;
}

#current-locker-details{
	margin: 0;
}

/*locker_view.html*/
.locker-box{
	background-color: #e6f3ea;
	height: 1000px;
	padding-top: 40px;
	padding-left: 380px
}

#user-locker-section {
	margin-left: 120px;
}

#term-info{
	font-size: 18px;
}

#results-box{
	margin-left: 100px
}

.results-box #results-info{
	margin-left: 100px;
	font-size: 20px;
}

#results-search th, #results-search td{
	height: 50px;
	text-align: center
}

.search{
	display: block;
	margin-top: 40px;
	padding-left: 25%;
}

.search .input-control{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.search .input-control .input-control-append{
	margin-left: 0;
}

#radio-criteria{
	margin-left: 10px;
}

.search form input[type=submit]{
	margin-left: 10px;
}

.search form input[type=text]{
	width: 1000px;
	height: 50px;
	background-color: inherit;
	
	border: 1px solid #00521c;
}

.search form button[type=submit]{
	height: 50px;
	width: 70px;
	outline: none;
	border: none;
	background-color: #437eb8;
	color: #e6f3ea;
}

.user-lockers-section{
	display:flex;
	flex-direction: row;
	height: 400px;
	margin-top: 15px;
}

.locker-location th, .locker-location td{
	width: 100px;
}

#user-locker-section .lockers{
	margin-left: 30px;
}

#user-locker-section .lockers table{
	margin-top: 20px;
}

#user-locker-section .lockers select{
	height: 30px;
	margin-top: 10px;
	margin-bottom: 14px;
	outline: none;
	border: 0;
	margin-left: 10px;
	background-color: #e6f3ea;
	color: #233b53;
	text-transform: uppercase
}

#location-list th{
    font-size: 18px
}

#user-locker-section #lockers-table td{
	width: 50px;
}

#location-list td, #location-list th{
	border: 2px solid #127a35;
}

#user-legend-section, #legend{
	margin-bottom: 20px;
}

.filters #legend{
	display: flex;
	flex-direction: row;
}

.filters #legend th, .filters #legend td{
	height: 50px;
	width: 200px;
}

#legend td[value="green"]{
    background-color: green;
}

#legend td[value="red"]{
    background-color: darkred;
}

#legend td[value="blue"]{
    background-color: dodgerblue;
}


/*admin_manage_lockers.html*/
.manage-lockers-box, locker-box{
	background-color: #e6f3ea;
	display: flex;
	flex-direction: row;
	margin: 50px;
	height: 1300px
}

.manage-lockers-box nav{
	width: 400px;
	margin-right: 50px
}

.manage-lockers-box nav h1{
	color: #e6f3ea;
	margin-top: 50px;
	margin-left: 15px
}

.manage-lockers-box nav #nav-link-sections{
	margin-top: 20px;
	font-size: 24px;
}

.manage-lockers-box nav #nav-link-sections a{
	color: #e6f3ea;
}

.manage-lockers-box #locker-table-section{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}

.manage-lockers-box #table-section{
	margin-left: 50px;
	padding: 10px
}

.ll-section{
	margin: 80px;
}

.ll-section #locations-section .card-body{
	display: flex;
	flex-direction: row;
}

.ll-section #locations-section .card-body form{
	margin-left: 30px;
	padding-top: 10px
}

#term-date-option{
	margin-top: 100px;
	margin-left: 50px;
}

#term-date-option #set-date-button{
	margin-top: 20px;
}

/*admin_manage_requests.html*/
#requests-box div[class^="locker-"] table tr{
	height: 100px;
	background-color: #e6f3ea;
	margin: 0;
}

.owned-locker-section{
	display: flex;
	flex-direction: row;
}

.owned-locker-section table{
	width: 740px;
	margin: 0;
}

.reserve-locker-section #lockers-reserve-table{
	width: 1750px;
}

#requests-box{
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

#requests-box div[class^="locker-"] table thead{
	font-size: 14px;
	font-weight: bold;
}

#requests-box div[class^="locker-"]{
	margin-top: 30px;
}

#requests-box div[class^="locker-"] form, #requests-box div[class^="locker-"] select{
	margin-left: 30px;
	margin-top: 10px;
}

#requests-box div[class^="locker-"] h3{
	font-size: 18px;
}

#requests-box div[class^="locker-"] select{
	height: 40px;
	background-color: #dde7f1;
	border-radius: 6px;
}

#requests-box div[class^="locker-"] form input[type=button]{
	height: 50px;
	width: 200px;
	border: 0;
	outline: none;
	background-color: #366ea4;
	color: #f6f6f6;
}

#requests-box table th, .locker-reserve-manager table td:first-child, .locker-abandon-manager table td:first-child{
	max-width: 10px;
}

.locker-abandon-manager table input[type="checkbox"]{
	margin-left: 30px;
}

.c-label{
	display: block;
	position: relative;
	cursor: pointer;
	margin-top: 30px;
	margin-left: 50px;
	font-size: 22px;
	user-select: none;
}

#requests-box table input[type="checkbox"]{
	height: 0;
	width: 0;
	cursor: pointer;
	opacity: 0;
}

.c-span{
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	background-color: inherit;
	border: 3px solid #127a35;
	border-radius: 5px;
}

.c-label:hover input ~ .c-span{
	border: 3px solid #127a35;
	background-color: #799883
}

.c-label input:checked~ .c-span{
	background-color: #127a35
}

.c-span::after{
	content: "";
	position: absolute;
	display: none;
}

.c-label input:checked~ .c-span::after{
	display: block;
}

.c-label .c-span::after{
	left: 5px;
	top: 7px;
	width: 15px;
	height: 15px;
	border: solid #C9E9C6;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg)
}

#requests-box div[class^="locker-"] table{
	margin: 30px;
	border-spacing: 0 5px;
}

#requests-box div[class^="locker-"] form input[type=button]:hover, .manage-lockers-box .locker-manager .term-date-option input[type=button]:hover, .locations-section form input[type=button]:hover, #table-section [type=button]:hover, .reserve-selector form #reserve-button:hover, #cancel-reservation-button:hover, #abandon:hover, .search form input[type=submit]:hover{
	background-color: #2d5984;
}


